.tittle{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}

.subtitles{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
    background-color: zlavender;
}